/* ==|== primary styles ===================================================================================================================================
   AUTHOR: Meridian Softech
   ========================================================================== */

/************************************************************
*************************************************************
    CUSTOM FONT EMBED
*************************************************************
*************************************************************/

/*@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/PTS55F.eot?') format('eot'),
        url('../fonts/PTS55F.ttf') format('truetype'),
        url('../fonts/PTS55F.svg#svgFontName') format('svg');
}*/
   
/************************************************************
*************************************************************
    COMMON
*************************************************************
*************************************************************/

body{
    overflow-y: scroll;
}

.text-right{text-align: right;}
.text-center{text-align: center;}
.float-right{float: right;}

/************************************************************
*************************************************************
    HEADER
*************************************************************
*************************************************************/
header{padding-top: 10px;}

/************************************************************
*************************************************************
    MAIN CONTENT
*************************************************************
*************************************************************/


/************************************************************
*************************************************************
    FOOTER
*************************************************************
*************************************************************/

